<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Registration form</title>
</head>
<body>

<h3>Student Registration form</h3>

<form th:action="@{/student/registration/register}" th:object="${student}" method="post">
    First Name: <input type="text" th:field="*{firstName}" />
    <br><br>
    Last Name: <input type="text" th:field="*{lastName}" />
    <br><br>
    Country:
    <select th:field="*{country}">
        <option th:each="country: ${availableCountries}"
                th:value="${country}"
                th:text="${country.countryName}" />
    </select>
    <br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>